@if(IsShow)
{
    <div class="row">
        <div class="col-md-6">
            <div class="fc-header-title"><h2>@CalendarTitle</h2></div>
        </div>
        <div class="col-md-6">
            <span class="nav justify-content-end">
                <span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on"
                  @onclick="() => PreviousClick()"><span class="fc-text-arrow">‹</span></span>

                <span class="fc-button fc-button-next fc-state-default fc-corner-right" unselectable="on"
                  @onclick="() => NextClick()"><span class="fc-text-arrow">›</span></span>

                <span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right" unselectable="on"
                  @onclick="() => TodayClick()">@Localizer["Today"]</span>

                <select class="fc-button fc-button-select fc-state-default fc-corner-left fc-corner-right"
                    value="@ViewKind" @onchange="OnViewKindChange">
                    <option value="Month">Month</option>
                    <option value="Week">Week</option>
                </select>
            </span>
        </div>
    </div>
    @if (ViewKind == CalendarKind.Month)
    {
        <MonthView @ref="MonthViewl"
           @bind-Today="@Today"
            CalendarItems="CalendarItems"
            ItemClick="@((CalendarItem data) => OnItemClick(data))"
            DateRangeChange="DateRangeChange" 
            IsShow="IsShow"
            CanEditData="CanEditData"></MonthView>
    }
    @if (ViewKind == CalendarKind.Week)
    {
        <WeekView @ref="WeekViewl"
            @bind-Today="@Today"
            CalendarItems="CalendarItems"
            ItemClick="@((CalendarItem data) => OnItemClick(data))"
            DateRangeChange="DateRangeChange"
            IsShow="IsShow"
            CanEditData="CanEditData"></WeekView>
    }
}